:root {
  --mmred:  #a8212a;
  --red-hover: #880000;
  --mmgold: #d6ad09;
  --white-text: #ffffff;
}

.md-typeset h1 {
  color: black !important;
  font-weight: 700 !important; /*bold everything*/
}
.md-nav__link--active {
  font-weight: bold;
}

.home-button {
  background-color: var(--mmred) !important;
  color: white !important;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 2rem;      
  font-size: 1rem;                 
  border-radius: 999px;
  margin: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: fit-content;
  line-height: 1.1;
  vertical-align: top;
}

.home-button:hover {
  background-color: var(--red-hover) !important;       /* Darker red on hover */              /* Golden yellow text on hover */
}


/* Make sidebar nav items bigger */
.md-nav__link {
  font-size: 1rem;  
}

.md-nav__item .md-nav__link {
  font-size: 1rem;
}

/*making the header bigger as well*/
.md-header__title .md-header__topic {
  color: white;
  font-size: 1.3rem; 
  font-weight: bold;
}
/* removing the text above the sidebar*/
.md-nav__title {
  display: none;
}


