:root {
  --mmred:  #a8212a;
  --red-hover: #880000;
  --mmgold: #fccf19;
  --white-text: #ffffff;
}

body {
  font-family: 'Inter', sans-serif; 
}

.md-typeset h1 {
  color: black !important;
  font-weight: 700 !important; /*bold everything*/
}
.md-nav__link--active {
  font-weight: bold;
}

.home-button {
  background-color: var(--mmred) !important;
  color: white !important;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 2rem;      
  font-size: 1rem;                 
  border-radius: 999px;
  margin: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: fit-content;
  line-height: 1.1;
  vertical-align: top;
}

.home-button:hover {
  background-color: var(--red-hover) !important;       
}


/* Make sidebar nav items bigger */
.md-nav__link {
  font-size: 1rem;  
}

.md-nav__item .md-nav__link {
  font-size: 1rem;
}

/*making the header bigger as well*/
.md-header__title .md-header__topic {
  color: white;
  font-size: 1.3rem; 
  font-weight: bold;
}
/* removing the text above the sidebar*/
.md-nav__title {
  display: none;
}

/*home icon*/

.home-icon svg {
  transition: transform 0.2s ease, fill 0.2s ease;
  scale: 1.75;
}

.home-icon:hover svg {
  transform: scale(1.1);
  fill: var(--mmgold);
}

/*subteam dropdowns*/

.subteam-details {
  margin-top: 2rem;
  max-width: 700px;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  margin-bottom: 0rem;
  
}


.subteam-details summary {
  font-weight: 500;
  cursor: pointer;
  font-size: 1.2rem;

}

.subteam-details[open] .subteam-text {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.subteam-details .subteam-text {
  opacity: 0;
  transform: translateY(-0.5rem);
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-top: 0.75rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  padding-left: 1.2rem

}
.subteam-text li {
  list-style: none;             /* removing default bullet pt*/
  position: relative;
  padding-left: 1.5rem;        
}

.subteam-text li::before {
  content: "➤";                
  position: absolute;
  left: 0;
  color: #4287f5;
  font-size: 1.1rem;
}


/* card stack css*/

.card-stack {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 700px;
  margin: 2rem auto;
}

.simple-card {
  background-color: rgb(251, 244, 244);
  border: 2px solid #cd9191; 
  border-radius: 10px;
  padding: 0.75rem 1rem;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

.simple-card:hover {
  box-shadow: 0 8px 20px rgba(204, 31, 31, 0.25);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #cf7878;  /* line to seperate title from rest*/
  padding-bottom: 0.5rem;             
  margin-bottom: 1rem;    
}

.card-title {
  font-weight: 600 !important;
  font-size: 1.25rem !important;
  margin: 0;          /* remove default margins */
  color: #000000;
  margin-bottom: 0rem !important;
  margin-top: 0rem !important;
}

.card-description {
  font-size: 1.05rem;
  margin-top: 1rem !important;
  margin-bottom: 1rem;
  color: #000000;
  line-height: 1.5;
}

.card-button {
  background-color: var(--mmred); /* red button */
  color: white !important;
  text-decoration: none;
  padding: 0.2rem 1.2rem;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
  transition: background-color 0.4s ease;
}

.card-button:hover {
  background-color: #5d0e0e;
}
/*dropdown for the tasks*/

.task-toggle {
  background-color: rgb(143, 143, 143);
  color: rgb(255, 255, 255);
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  margin-bottom: 0.4rem;
  transition: background-color 0.2s ease;
}

.task-toggle:hover {
  background-color: rgb(96, 96, 96);
}

.task-box {
  background-color: #f2efef;
  border: 2px dashed #a4a4a4;
  padding: 0.1rem 0.5rem;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 0.5rem;
  color:black;
  font-size: 0.9rem;
}
/*Button for more info*/

.info-toggle {
  background-color: #cf7878;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  margin-bottom: 0.4rem;
  transition: background-color 0.2s ease;
}

.info-toggle:hover {
  background-color: #a85757;
}

.info-box {
  background-color: #fdfdfd;
  border: 2px dashed #f08c8c;  
  padding: 0.25rem 0.5rem;      
  border-radius: 6px;
  font-size: 0.85rem;          
  color: #000000;              
  line-height: 1.4;            
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
}

input[type="checkbox"] {
  transform: scale(1.4);
  accent-color: #3bb273;
  margin-right: 0.5rem;
  cursor: pointer;
}

/*keeping the tasks button and info button together*/
.button-row {
  display: flex;
  gap: 0.5rem;       
  margin-bottom: 0.5rem;
  flex-wrap: wrap;    
}

/* This hides the info-box initially */
.hidden {
  display: none;
}

.info-label {
  display: inline;           
  font-weight: 600;
  color: #aa3e3e;
  margin-right: 0.4rem;       
}




/* cleaning up header*/
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
  border-bottom: 3px solid black;
  padding-bottom: 0.5rem;
}
.page-header h1 {
  margin: 0;
  font-size: 2rem;
}

/*info sections for the start of each card page*/

